@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

html {
  box-sizing: border-box;
}

body {
  background: hsl(233, 47%, 7%);
  font-family: Inter, sans-serif;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.card {
  background-color: hsl(244, 38%, 16%);
  display: flex;
  padding: 0;
  border-radius: 10px;
  width: 50%;
  min-width: 1040px;
  max-height: 446px;
  margin: 300px 0 300px 0;
  overflow: hidden;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  text-align: left;
  line-height: 30px;
  margin: 50px 0 50px 0;
}

h1 {
  font-size: 2rem;
  text-align: left;
  margin: 0;
}

span.insight {
  color: blueviolet;
}

.stats {
  font-family: Lexend Deca, sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
  letter-spacing: 2px;
  line-height: 25px;
  display: flex;
  text-align: start;
  justify-content: center;
  padding-left: 0;
  margin-left: 0;
}

span.numbers {
  font-weight: bold;
  color: white;
  font-size: 1.3rem;
}

.stat-text {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0;
}

li {
  list-style: none;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.column-left {
  padding: 4rem;
}

.column-right {
  width: 100%;
  background: hsl(277, 64%, 61%);
}

.image {
  mix-blend-mode: multiply;
}

@media screen and (max-width: 769px) {
  .card {
    display: flex;
    flex-direction: column-reverse;
    width: 769px;
    min-width: 50%;
    max-height: fit-content;
    margin: 20px;
    align-items: center;
  }

  .text-container {
    align-items: center;
    padding: 20px;
  }

  .main {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 15px;
  }

  .single-stat {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80px;
  }

  .image {
    background-repeat: no-repeat;
    object-fit: contain;
    border-radius: 0;
    width: 100%;
  }

  .column-left {
    padding: 0;
  }

  .column-right {
    width: 100%;
  }
}
